<!DOCTYPE html>
<html lang="en">

<head>

    <title>حول الموقع</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">


    <link href="~/Content/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

    <link href="~/Content/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>

        </div>


        <div class="unit-5 overlay" style="background-image: url('../../Content/images/hero_1.jpg');margin-top:10px;">

            <div class="container text-center">

                <h2 class="mb-0">معلومات عنا</h2>
                <br />
                <p class="mb-0 unit-6"><a href="~/Home/Index">الرئيسية</a> <span class="sep">></span> <span>معلومات عنا</span></p>

            </div>

        </div>


        <div class="site-section" data-aos="fade">

            <div class="container">

                <div class="row align-items-center">

                    <div class="col-md-5 ml-auto">

                        <div class="text-right mb-5 section-heading">

                            <h2>معلومات عنا</h2>

                        </div>

                        <h4>بتدور على وظيفة ؟</h4>

                        <hr />

                        <p>
                            وظيفتك عندنا علي موقع أعطني فرصه للتوظيف !!
                            <br />
                            المفاجأه !! الآن من خلال موقعنا الخاص بـ تقديم
                            الوظائف بـ شكل مستمر يمكنك بـ كل سهولة العثور علي الوظيفة المناسبة لك أينما كنت :) فقط كل ما عليك قم
                            بـ تسجل بياناتك أسمك وعمرك وعنوانك وجنسيتك  ثم أضف مؤهلاتك وخبراتك ومهاراتك  بـ التفاصيل وستصلك منا
                            بـ أستمرار أحدث الوظائف فـ مختلف التخصصات ومختلف التخصصات وأنسبها لك من أكبر الشركات والمؤسسات فـ مصر .
                        </p>

                        <p><a href="~/Content/images/Give Me.mp4" class="popup-vimeo text-uppercase">مشاهده الفيديو <span class="icon-arrow-right small"></span></a></p>

                    </div>
                    <div class="col-md-6 mb-5 mb-md-0">

                        <div>

                            <a href="~/Content/images/Give Me.mp4" class="popup-vimeo">

                                <span class="icon-wrap">

                                    <span class="icon icon-play"></span>

                                </span>

                                <video class="img-fluid rounded"
                                       autoplay
                                       controls
                                       width="800"
                                       height="400">

                                    <source src="~/Content/images/Give Me.mp4" type="video/mp4">
                                    <source src="~/Content/images/Give Me.ogg" type="video/ogg">

                                    فيديو يتكلم عن موقع " أعطني فرصه " للتوظيف 2019

                                </video>

                            </a>

                        </div>

                    </div>

                   

                </div>
            </div>
        </div>

        <!-- ===============الفريق============= -->

        <div class="site-section bg-light">

            <div class="container">

                <div class="row justify-content-center mb-5">

                    <!-- <div class="col-md-7 text-center"> -->
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">

                        <h2 class="mb-5">الفريق</h2>

                        <p>
                            مصممين ومبرمجين موقع " أعطني فرصه " الذي يوفر فرص عمل ووظائف لـ مختلف المؤهلات والتخصصات في أكبر شركات مصر .

                        </p>

                    </div>

                </div>

                <div class="row team">

                    <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade" data-aos-delay="200">
                        <a href="#" class="person">
                            <img src="~/Content/images/Programmer Eslam.jpg" alt="Image placeholder"width="250" height="300">
                            <h2>إسلام منير السادات</h2>
                            <p>
                                مهندس برمجيات مصري ومحلل قواعد بيانات وأسعي لـ ترك بصمتي في عالم التكنولوجيا .
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade" data-aos-delay="200">
                        <a href="#" class="person">
                            <img src="~/Content/images/Programmer Mohamed Ali.jpg" alt="Image placeholder"width="250" height="300">
                            <h2>مـحـمـد علي حسن</h2>
                            <p>
                                # C# Programer 
                                <br />
                                # Web Developer
                                <br />
                                 and I Try To Achieve My Goal To Be Professional Software Engineer.
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade" data-aos-delay="200">
                        <a href="#" class="person">
                            <img src="~/Content/images/Proson.jpg" alt="Image placeholder"width="250" height="300">
                            <h2> شروق وجيه زغلول </h2>
                            <p>

                            </p>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade" data-aos-delay="200">
                        <a href="#" class="person">
                            <img src="~/Content/images/Proson.jpg" alt="Image placeholder"width="250" height="300">
                            <h2> شموع وجيه زغلول </h2>
                            <p>

                            </p>
                        </a>
                    </div>

                </div>

            </div>

        </div>

        <!-- =============جزء الاسئلة=============== -->

        <div class="site-section">

            <div class="container">

                <div class="row justify-content-center text-center mb-5">

                    <div class="col-md-6" data-aos="fade">

                        <h2>
                            طرح الأسئلة بشكل متكرر
                        </h2>

                    </div>

                </div>

                <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">

                    <div class="col-md-8">

                        <div class="accordion unit-8" id="accordion">

                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                        ايه الفرق بين موقع " أعطني فرصه " وأي شركة توظيف ؟ هل مطلوب مني أدفع رسوم تسجيل ؟
                                        <span class="icon"></span>
                                    </a>
                                </h3>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            موقع " أعطني فرصه " مش شركة توظيف " أعطني فرصه " موقع للوظائف الشركات اللي عايزة تعين موظفين وعمال بتعلن عن الوظائف من خلاله .
                                            <br />
                                            أحنا بـ نسهل على الشركة عملية البحث عن موظفين وعلى أي حد بيدور على شغل إنه يبحث عن وظيفة .
                                            <br />
                                            الشركة هي اللي بتعلن عن الوظيفة وهي اللي بتختار الموظفين اللي هتعينهم .
                                            <br />
                                            أي حد بيدور على شغل يقدر يسجل على موقعنا " أعطني فرصه " ويقدم على وظائف والخدمة دي مجانية 100% .
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                        إزاي الموقع بيستفيد رغم إن الخدمة مجانية ؟
                                        <span class="icon"></span>
                                    </a>
                                </h3>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            الشركات والمصانع بيدفعوا مقابل مادي عشان يعلنوا عن الوظائف الخالية على موقعنا " أعطني فرصه " لأنهم محتاجين عمال وموظفين كفء .
                                            <br />
                                            لما أنت بتقدم على الشغل احنا بنوصلهم بياناتك وبيانات بقية المتقدمين على نفس الوظيفة عشان يختاروا منهم ويتواصلوا مع أنسب حد للوظيفة .
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                        ايه الضمان إن الوظائف حقيقية ؟
                                        <span class="icon"></span>
                                    </a>
                                </h3>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            أي حد بيدور على شغل يقدر يسجل على موقعنا " أعطني فرصه " ويقدم على وظائف والخدمة دي مجانية 100% .
                                            <br />
                                            احنا بنتأكد من مصداقية الشركات بإننا نتأكد من السجل التجاري والبطاقة الضريبية عشان نتأكد من هوية الشركات وإن الوظائف حقيقية فعلا .
                                            <br />
                                            مفيش وظائف وهمية لأن الشركات بتدفع مقابل مادي عشان يعلنوا عن الوظائف على موقعنا " أعطني فرصه " للتوظيف .
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->
                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
                                        ايه هدف موقع " أعطني فرصه " للتوظيف ؟
                                        <span class="icon"></span>
                                    </a>
                                </h3>
                                <div id="collapseFour" class="collapse" aria-labelledby="collapseThree" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            هدفنا فى " أعطني فرصه " للتوظيف إننا نساعد أكبر عدد من الناس اللى بيدوروا على شغل وبنحلم نساعد على توظيف أكتر من مليون شخص من خلال موقعنا .
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
                                        فى شغل للبنات ؟
                                    </a>
                                </h3>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            فرص الشغل متوفرة لأي حد سواء رجال أو سيدات طالما معاه بطاقة الرقم القومي .
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!--=============== -->
                            <!--=============== -->


                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
                                        فى فرص عمل غير الموجودة على الموقع أو على صفحة فيسبوك ؟
                                    </a>
                                </h3>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            موقع " اعطني فرصه " عليه كل أنواع الوظائف وفي شركات جديدة بتعلن عن وظائف جديدة كل يوم كل الي عليك تابع الموقع كل فترة عشان تشوف الوظائف المتاحة وكمان ممكن تكلم خدمة العملاء عشان تتابع الوظائف الجديدة المناسبة ليك .
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!--=============== -->
                            <!--=============== -->


                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
                                        هتتصلوا بي امتى ؟
                                    </a>
                                </h3>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>

                                            احنا مش بنتصل بالناس اللي سجلوا لكن لو عندك مشكلة في التسجيل كلمنا من خلال الموقع أو التواصل خلال الفيسبوك .
                                            <br />
                                            لما بتقدم على وظيفة بياناتك بتتبعت للشركة لو الشركة ناسبتهم بياناتك بيكلموك على الرقم المتسجل عندنا وبيحددوا معاك مقابلة ولو محدش من الشركة كلمك ممكن الشركة تكون عينت حد تاني أو لقوا بياناتك مش مناسبة للوظيفة .
                                            <br />
                                            بننصحك تقدم على أكتر من وظيفة عشان تزود من فرصك .
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!--=============== -->
                            <!--=============== -->


                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">
                                        إزاي أعرف الشركة قبلتني ولا لأ ؟
                                    </a>
                                </h3>
                                <div id="collapseEight" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            <ol>
                                                <li>لما بتقدم على أي وظيفة احنا بنوصل للشركة بياناتك عشان يقدروا يتواصلوا معاك . </li>
                                                <li>لو بياناتك ناسبتهم بيكلموك عالتليفون عشان تيجي المقابلة . </li>
                                                <li>
                                                    عشان تعرف حالة طلب التقديم بتاعك، ادخل على الموقع وسجل دخولك وادخل على "لوحة التحكم" .
                                                </li>
                                                <li>
                                                    في أسفل "لوحة التحكم" بتقدر تشوف حالة طلبات التقديم بتاعتك وتقدر تعرف إذا تقديمك تمت مشاهدته من الشركة أو لأ .
                                                </li>
                                                <li>
                                                    لو بياناتك كانت مناسبة هيتكتب إنك مناسب، ولو مكانتش مناسبة هيتكتب إنك مرفوض .
                                                </li>
                                                <li>
                                                    لو الشركة رفضت طلبك ممكن تكلم مسئول توظيف فرصنا على الخط الساخن وتتابع الوظائف الجديدة اللي نزلت وتقدم على اللي يناسبك منها .
                                                </li>
                                            </ol>
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseNine" role="button" aria-expanded="false" aria-controls="collapseNine">
                                        ايه سبب رفضي في الوظيفة ؟

                                    </a>
                                </h3>
                                <div id="collapseNine" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            أسباب الرفض بتختلف حسب كل شركة واحتياجاتها ممكن تكون بياناتك مش مناسبة لمتطلبات الوظيفة أو لأن عدد المتقدمين كبير والتنافس كان عالي على الوظيفة فالشركة اختارت متقدمين تانيين .
                                            <br />
                                            عشان تزود فرص قبولك في الوظائف :
                                            <ol>

                                                <li>
                                                    احرص إنك تحدث بياناتك باستمرار .
                                                </li>
                                                <li>
                                                    أضف أكثر من رقم تليفون .
                                                </li>
                                                <li>
                                                    قدم على أكبر عدد ممكن من الوظائف المناسبة لك .
                                                </li>
                                                <li>
                                                    كل فترة ادخل على الموقع أو كلم الخط الساخن عشان تتابع الوظائف الجديدة .
                                                </li>
                                            </ol>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseTen" role="button" aria-expanded="false" aria-controls="collapseTen">
                                        هل أقدر أتواصل مع الشركة أو أحصل على رقم تليفونهم ؟
                                    </a>
                                </h3>
                                <div id="collapseTen" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>

                                            عشان نحافظ على بنود الخصوصية للشركة موقعنا " أعطني فرصه " مش بيوفر معلومات للتواصل مع الشركة .
                                            <br />
                                            الشركة هتتواصل الشركة معاك بس إذا تم قبولك للوظيفة .
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseEleven" role="button" aria-expanded="false" aria-controls="collapseEleven">
                                        ايه معنى إني موجود على قائمة "المرشحين للتواصل" في الوظيفة ؟
                                    </a>
                                </h3>
                                <div id="collapseEleven" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>
                                            الشركة بتضيف بعض المتقدمين لقائمة المرشحين عشان تتواصل مع أنسبهم للوظيفة وتحدد موعد مقابلة أو تعمل مقابلة عن طريق التليفون .
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseTwelfth" role="button" aria-expanded="false" aria-controls="collapseTwelfth">
                                        أنا سجلت وقدمت على وظائف ليه محدش من الشركة اتصل بي لحد دلوقتي ؟
                                    </a>
                                </h3>
                                <div id="collapseTwelfth" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>

                                            لما بتقدم على وظيفة بياناتك بتتبعت للشركة. لو بياناتك كانت مناسبة للشركة هيكلموك على الرقم المتسجل عندنا ويحددوا معاك مقابلة .
                                            <br />
                                            لو محدش من الشركة كلمك فيه أكتر من سبب :
                                            <ol>
                                                <li>
                                                    التنافس كبير لأن عدد المتقدمين على الوظيفة كتير فممكن الشركة تكون اكتفت بعدد معين من المتقدمين حاول تقدم على وظائف عليها عدد متقدمين أقل .
                                                </li>
                                                <li>بياناتك مش مناسبة لمتطلبات الوظيفة اتأكد إن بياناتك مناسبة من ناحية السن والمؤهل والخبرة . </li>
                                                <li>لو الوظيفة منشورة من فترة قصيرة ممكن تكون الشركة لسة ما بدأتش في اختيار المتقدمين . </li>

                                                <li>الوظيفة بتفضل مفتوحة في موقعنا " أعطني فرصه " لمدة أقصاها شهرين لو محدش من الشركة تواصل معاك في خلال المدة دي ممكن الوظيفة تكون بقت غير متاحة أو تم تعيين متقدم تاني . </li>
                                                <li>بس أنت ممكن تقدم على أكتر من وظيفة عندنا عشان تزود من فرصك لحد لما تلاقي الوظيفة المناسبة ليك .</li>

                                            </ol>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseThirteen" role="button" aria-expanded="false" aria-controls="collapseThirteen">
                                        أنا مش متأكد إذا كنت هروح المقابلة ينفع أقدم ؟
                                    </a>
                                </h3>
                                <div id="collapseThirteen" class="collapse" aria-labelledby="headingTwelfth" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>

                                            لو مش مقتنع بالوظيفة أو مش عايز تروح المقابلة يِفضل ما تقدمش عليها أولاً لأن دا بيدي انطباع سيء عنك عند الشركة وثانياً ممكن يقلل من فرصتك لما تقدم على وظائف في المستقبل .

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseFourteenth" role="button" aria-expanded="false" aria-controls="collapseFourteenth">
                                        فيه وظائف للطلبة ؟
                                    </a>
                                </h3>
                                <div id="collapseFourteenth" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>


                                            فيه شركات بتطلب موظفين ومش بتشترط شهادة المؤهل ادخل على صفحة بحث الوظائف واختار المجالات التي عايز تشتغل فيها تحت على الشمال تقدر تعمل " تصفية النتائج حسب المستوى التعليمي " وتختار الحاجات اللي تتناسب مع مستواك التعليمي .
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->
                            <!--=============== -->

                            <div class="accordion-item">
                                <h3 class="mb-0 heading">
                                    <a class="btn-block" data-toggle="collapse" href="#collapseFifteen" role="button" aria-expanded="false" aria-controls="collapseFifteen">
                                        هل ينفع أكلم الخط الساخن وأقدم لحد تاني ؟
                                    </a>
                                </h3>
                                <div id="collapseFifteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                                    <div class="body-text">
                                        <p>

                                            لو تعرف حد من أصدقاءك أو قرايبك عايز يشتغل خليه يدخل على موقعنا " أعطني فرصه " أو خليه يكلمنا علي صفحة الفيسبوك ويفضل يكلمنا بنفسه ومسئول التوظيف في موقعنا " أعطني فرصه " هيساعده .
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--=============== -->

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
















    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/aos.js"></script>

    <script src="~/Content/js/mediaelement-and-player.min.js"></script>
    <script src="~/Content/js/main.js"></script>


    <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>


    <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
            async defer></script>

</body>
</html>