@model Give_Pro.Models.Timeswork

@{
    ViewBag.Title = "الحذف";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>الحذف</h2>

<h3>
    هل أنت متأكد من تنفيذ عمليه الحذف ؟
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimesworkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimesworkName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("العوده إلي القائمه", "Index")
        </div>
    }
</div>
